<table>
  <thead>
    <tr>
      <th width='55%'>Story Name</th>
      <th width='15%'>Author</th>
      <th width='25%'>Last Update</th>
      <th width='10%'>Hit Rate</th>
      <th width='20%'></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.editor.name %></td>
        <td><%= article.updated_at %></td>
        <td><%= article.view_count %></td>
        <td><%= link_to 'View', article %></td>
        <td>
          <% if session[:user_id]!=nil %>
            <% if article.editor.name==session[:user_name] %>
              <%= link_to 'Upload', edit_article_path(article) %></td>
            <%end%>
          <%end%>
        <td>
          <% if is_admin %>
        <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>