<p id="notice"><%= notice %></p>

<p>
  <strong><%= @article.title %></strong>
</p>

<p>
  <%= @article.content %>
</p>

<p>Comments:</p>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.editor %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>
