<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @editor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @editor.email %>
</p>

<p>
  <strong>Is admin:</strong>
  <%= @editor.is_admin %>
</p>

<%= link_to 'Edit', edit_editor_path(@editor) %> |
<%= link_to 'Back', editors_path %>
