<!DOCTYPE html>
<html>
<head>
  <title>Literature World</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <header class="navbar navbar-static-top navbar-inverse">
	  <div class="container">
		  <img src="http://image.bmediaasia.com/HKGolden/2015/b/fevaworks_20150306_sb_cefweb.jpg" width="600" height="90" alt="fevaworks" id="logo">
		  <nav>
			  <ul class="nav navbar-nav navbar-right">
			  	<li>
				  <%= form_tag(articles_path,:class => 'nav navbar-form navbar-right' ,:method => "get", id: "search-form") do %>
				  <div class="input-group">
					  <%= text_field_tag :search, params[:search], :class=>'form-control', placeholder: "Search" %>
					  <div class="input-group-btn">
						  <%= button_tag :name => nil, :class => 'btn btn-default', :type=>:submit do%>
						    <i class="glyphicon glyphicon-search"></i>
						  <%end%>
					  </div>
				  </div>
				  <%end%>
				</li>
				<br>
				  <% if session[:user_id]!=nil %>
				    <li><%= link_to session[:user_name], '#' %></li>
				    <li><%= link_to "Log out", sessions_destroy_path %></li>
				  <%else%>
				    <li><%= link_to 'Visitor', '#' %></li>
				    <li><%= link_to "Log in", login_path %></li>
				  <%end%>				  
		  </ul>

	  </nav>
  </div>
</header>
</head>
<body>
<div class="container">
	<% flash.each do |message_type, message| %> 
	<div class="alert alert-<%= message_type %>">
		<%= message %>
	</div> 
	<% end %>
</div>
<%= yield %>
<footer class="footer">
	<small>
		<%= link_to "Literature World 2015",   articles_path %>	
	</small>
	  <nav>
    <ul>
      <li><%= link_to 'Sign up', new_editor_path%></li>
    </ul>
  </nav>
</footer>
</body>
</html>
