<!DOCTYPE html>
<html>
<head>
  <title>Literature Review</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Literature Review", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   articles_path %></li>
            <li><%= link_to "Log in", login_path %></li>
          </ul>
        </nav>
      </div>
    </header>
</head>
<body>

<%= yield %>
<footer class="footer">
	<small>
		Literature Review 2015
	</small>
	  <nav>
    <ul>
      <li><%= link_to "Admin Login",   '#' %></li>
    </ul>
  </nav>
</footer>
</body>
</html>
